<footer class="footer">
	<div class="row">
		<div class="bottom-nav col-lg-12 col-lg-offset-0 col-md-12 col-sm-12 col-xs-12">
			<p class="copyright">© 2017 Dare Press.</p>
			<a href="#/terms/" class="terms">Terms of Use</a><span class="eiq-mobile-hide">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#/privacy/" class="privacy">Privacy Policy</a>
		</div>
	</div>
	<div class="row">
		<div class="eiq-logo col-lg-6 col-lg-offset-0">
			<a href="#/" title="Bayo's Angular App" rel="home">Logo</a>
		</div>
	</div>
</footer>
